/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMONS */

body {
    font-family: dosis, sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 70%;
    margin: auto;
}

/* contents */

.section-1 {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 48px;
    color: #e53170;
    font-weight: 900;
    margin: 30px 0;
    }

.section-1 p {
    font-weight: 600;
}

/* columns */

.col {
    width: calc(100% / 3);
    float: left;
    padding: 20px 10px;
} 

.card {
    background-color: #0f0e17;
    color: white;
}

img {
    width: 100px;
    float: left;
    margin-right: 20px;
}

.card-2 {
    padding: 10px;
    line-height: 25px;
    font-weight: 500;
}

.name {
    font-size: 20px;
    font-weight: 800;
}

.email {
    color: #25a1de;
}










