/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMONS */

body {
    font-family: dosis, sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: auto;
}

/* contents */

.section-1 {
    text-align: center;
}

h1 {
    font-size: 48px;
    color: #e53170;
    font-weight: 900;
    padding: 30px 0;
}

.section-1 p {
    font-weight: 600;
}

